#screen {
	width: 200px;
	height: 200px;
}

#heading {
	width: 100%;
	border-collapse: collapse;
}
#logo, #logo > img {
	-border: 1px solid red;
	padding-left: 0;
	width: 42px;
}
#title {
	border: 1px solid red;
	font-family: "Bevan";
	font-size: 28px;
	text-align: center;
	color: #000000;
}
#dow {
	-border: 1px solid red;
	padding-left: 1px;
	width: 1%;
	text-align: center;
	font-family: Serif;
	font-size: 11px;
	border-left: 1px solid black;
	-font-weight: bold;
	color: white;
	background: #888888;
}
/*****************************************************/
#calendar > tbody > tr {
	font-family: pixel;
	padding: 0 0 0 0;
	vertical-align: top;
	border-bottom: 1px solid black;
	color: #000000;
}
.join {
	border-bottom: none;
	padding-bottom: 1px;
}
.stamp {
	border-right: 1px solid black;
	text-align: center;
	width: 16%;
	padding-right: 2px;
}
.now {
	background: black;
	color: white;
	font-weight: bold;
}