#screen {
	width: 200px;
	height: 200px;
}

#heading {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #000000;
	height: 36px;
}
#today {
	width: 42px;
	color: #cccccc;
	background: #333333;
	border-right: 1px solid #000000;
	padding-top: 3px;
}
.corner {
	text-align: center;
	font-family: pixel;
	height: 10px;
}
#title {
	-border: 1px solid red;
	font-family: "Bevan";
	font-size: 20px;
	text-align: center;
	color: #222222;
	position: relative;
	top: 2px;
	vertical-align: bottom;
}
#logopadding {
	width: 23px;
	-background: #aaaaaa;
}
#logo {
	position: absolute;
	top: 0;
	left: 160px;
	width: 40px;
}
/*****************************************************/
.fontbox {
	font-family: pixel;
	height: 10px;
	width: 100%;
	position: relative;
	top: 1px;
}
.stamp, .desc {
	padding: 1px 0 1px 0;
	border-bottom: 1px solid black;
	color: #000000;
}
.join {
	border-bottom: none;
	padding-bottom: 1px;
}
.stamp {
	width: 42px;  /* 1+ 5x8 +1 */
	text-align: center;
	border-right: 1px solid black;
}
.stampnow {
	background: #ff0000;
	color: #cccccc;
}
.desc {
	width: 155px;
	text-align: left;
	padding-left: 2px;
}
.descnow {
	color: #ff0000;
}
